CREATE2_FACTORY_CONTRACT_ADDRESS=

# CoreDepositWallet
TOKEN_CONTRACT_ADDRESS=
TOKEN_SYSTEM_ADDRESS=
CORE_DEPOSIT_WALLET_PROXY_ADMIN_ADDRESS=
CORE_DEPOSIT_WALLET_OWNER_ADDRESS=
CORE_DEPOSIT_WALLET_PAUSER_ADDRESS=
CORE_DEPOSIT_WALLET_RESCUER_ADDRESS=

# CctpForwarder
MESSAGE_TRANSMITTER_ADDRESS=
SUPPORTED_MESSAGE_VERSION=
SUPPORTED_BURN_MESSAGE_VERSION=
CCTP_FORWARDER_PROXY_ADMIN_ADDRESS=
CCTP_FORWARDER_OWNER_ADDRESS=
CCTP_FORWARDER_RESCUER_ADDRESS=
CCTP_FORWARDER_TOKEN_ADDRESSES=
CCTP_FORWARDER_FORWARDING_ADDRESSES=

# CctpExtension
CCTP_EXTENSION_OWNER_ADDRESS=
CCTP_EXTENSION_RESCUER_ADDRESS=
TOKEN_MESSENGER_ADDRESS=
TOKEN_CONTRACT_ADDRESS=